@import "../../_globalColor";

.footer-div {
  margin-top: 2rem;
  text-align: center;
}

.footer-text {
  color: $textColor;
  font-size: 14px;
  margin: 0;
  padding: 1rem 0;
}

.dark-mode {
  color: $textColorDark;
}
